// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;

// CUSTOM
$gray: #3C3C3C;
$light-beige: #F2ECE7;
$golden-brown: #A86910;
$lime-green: #BFB24E;
$pink: #FEBFAB;

$op-green: rgba(191, 178, 78, 0.5);
$op-pink: rgba(254, 191, 171, 0.5);
