
<% @cocktail.doses.each do |dose|  %>
  <p class="mb-1 pt-0 mt-0 ingredient-list">
    <%= link_to '[ - ]', dose_path(dose),
      method: :delete,
      data: { confirm: "Confirm deleting #{dose.ingredient.name}" } %>
    <%= " #{dose.ingredient.name } | #{dose.description}" %></p>
<% end %>

<div class="btn btn-danger btn-sm mt-2" id="add-dose-btn">
  + ingredient
</div>


