
<div class="row py-2">
  <div class="col-5 box-headline">
    <h3 class="highlight-pink">discover</h3>
    <h2>SUMMER</h2>
    <h1>cocktails</h1>
    <h4 class="text-center"><i class="fas fa-chevron-down"></i></h4>
  </div>
  <div class="col-6">
    <%= image_tag "goop_cocktails.jpg", alt: "Cocktails for summer",  width: "100%" %>
  </div>
</div>

<div class="row py-2 justify-content-center">
  <div class="col-6 text-center"><hr></div>
</div>

<div class="grid-cocktail">
  <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
      <%= link_to cocktail_path(cocktail), class: "text-decoration-none" do %>
        <%= cl_image_tag cocktail.photo, class: "card-img-top card-img-size",  width: "100%" %>
        <p class="p-2"><span class="title"><%= cocktail.name %></span></p>
      <% end %>
  </div>
  <% end %>
</div>


<!-- style="width: 18rem;" -->


<script>
function mouseOver(elem) {
  const cocktailTitle = elem.querySelector(".title");
  console.log(elem);
  console.log(cocktailTitle)
  cocktailTitle.classList.add("highlight-pink");
}

function mouseOut(elem) {
  const cocktailTitle = elem.querySelector(".title");
  console.log(elem);
  console.log(cocktailTitle)
  cocktailTitle.classList.remove("highlight-pink");
}
</script>

