
<div class="row w-50 bg-white py-2 mx-auto">
  <%= simple_form_for [@cocktail, @dose] do |f| -%>
    <%= f.association :ingredient %>
    <%= f.input :description, placeholder: 'how much of this ingredient' %>
    <%= f.submit "add", class: "btn btn-outline-primary" %>
  <% end -%>
</div>
