<div class="footer-dream d-flex">
  <div class="col-xs-12 col-sm-6 mx-auto">
    <h6>about</h6>
    <p>Summer Cocktails is a personal project, inspired by my two likes, the lovely summer season and creative cocktails. I hope the recipes listed here would act as an useful online reference for all those finding themselves wanting a refreshing summer cocktail.</p>
    <div class="footer-legal">
      <p>© 2019</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 mx-2">
    <h6 class="">find me at</h6>
    <p class="m-0">www.tinacliu.com</p>
    <div class="footer-social">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
</div>



