<div class="navbar border-bottom border-info mb-4 mx-3 p-2">
  <%= link_to root_path do %>
    <p class="mb-0 ml-4"> = </p>
  <% end %>
  <%= link_to new_cocktail_path do %>
    <p class="mb-0 mr-4">+ add </p>
  <% end %>
</div>
